{% extends "base.html" %} {% block content %}

<div class="hero bg-base-100">
    <div class="hero-content text-center">
        <div class="max-w-lg">
            <h1 class="text-5xl font-bold">Welcome</h1>
            <h2 class="py-6 text-xl">
                Bit Weaving is a software and software services company that
                specializes in software architecture, development, security and
                identity.
            </h2>
            <a href="/services"
                ><button class="btn btn-primary">Client Services</button></a
            >
        </div>
    </div>
</div>

{% endblock content %}
