{% extends "base.html" %}

{% block content %}

  <div class="hero bg-base-100">
    <div class="hero-content text-center">
      <div class="max-w-lg">
        <h1 class="text-5xl font-bold">Welcome</h1>
        <h2 class="py-6 text-xl">
          Bit Weaving is a software and software services company that 
          specializes in security, identity management and access control.
        </h2>
        <h2 class="py-6 text-xl">
          We are committed to using and contributing to open source software in order
          to ensure that our customers continue to have control over their most critical systems and data.
        </h2>
        <button class="btn btn-primary">Get Started</button>
      </div>
    </div>
  </div>
  

{% endblock content %} 