{% extends "base.html" %} {% block content %}
<div class="m-10">
    <article class="prose lg:prose-xl">
        <h1>{{ section.title }}</h1>
        <p>{{ section.description }}</p>

        {% set page_count = section.pages | length %} {% if page_count > 0 %}
        <h2>Example engagements below:</h2>
        <ul>
            {% for page in section.pages %}
            <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <a
            href="mailto:info@bitweaving.com?subject={{ section.extra.offeringid }}:{{ section.extra.offeringsubject}}"
            >Email us</a
        >
        at <span class="font-bold">info@bitweaving.com</span>
        {% endif %}
    </article>
</div>

{{ super() }} {% endblock content %}
